---
date: 2026-04-21
tags:
  - first-year
  - M40018
---
When reasoning about [[Function Specifications|functions]] and [[function calls]], we can reason about the **correctness** of a single **function**, without knowing about the implementation of the **functions** that it **calls**, and instead just assuming it satisfies its specification.
* Once we have verified all the **functions** we can then establish the **correctness** of the entire system.
* This is known as **modular verification**.